$off-white: #E2E2E2;

@font-face {
  font-family: "FacadeGX";
  src: local("FacadeGX"),
  url("./fonts/PressStart2P-Regular.ttf") format("truetype");
}

@mixin text{
  user-select: none;
}

@mixin title {
  @include text;
  font-family: 'FacadeGX', serif;
  font-size: 5rem;
  color: $off-white;
  margin: 0;
  line-height: 100px;
}

@mixin subtitle {
  @include text;
  font-family: 'FacadeGX', serif;
  font-size: 3rem;
  color: $off-white;
  margin: 0;
  line-height: 60px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-image: url('../public/Fomo_1.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.app-container {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: none;


  .home-screen,
  .best-scores,
  .loading-screen,
  .result-screen,
  .welcome-message {
    padding: 10rem;
    margin: auto; // This will center content vertically without enforcing full height
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.5s ease-in;
    text-align: center;
  }

  .result-screen {
    flex-direction: column;
    align-items: center;
    gap: 60px
  }

  .home-screen {
    gap: 60px
  }


  .best-scores {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
  }

  .welcome-message {
    padding: 5rem;
  }

  .best-scores-list {
    ol {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 300px;
      column-gap: 300px;
    }
    li {
      @include subtitle;
    }
  }

  .loading-screen {
    animation: unset;

    video {
      max-width: 90vw;
      max-height: 70vh;
      width: auto;
      height: auto;
    }
  }

  h1 {
    @include title;
  }

  p {
    @include subtitle;
  }

  .result-number {
    @include title;
    line-height: unset;
    font-size: 10rem;
    text-decoration: underline;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


