$off-white: #E2E2E2;

@font-face {
  font-family: "FacadeGX";
  src: local("FacadeGX"),
  url("./fonts/PressStart2P-Regular.ttf") format("truetype");
}

@mixin title {
  font-family: 'FacadeGX', serif;
  font-size: 5rem;
  color: $off-white;
  margin: 0;
}

@mixin subtitle {
  font-family: 'FacadeGX', serif;
  font-size: 3rem;
  color: $off-white;
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-image: url('../public/Fomo_1.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.app-container {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: none;


  .home-screen,
  .best-scores,
  .loading-screen,
  .result-screen,
  .welcome-message {
    margin: auto; // This will center content vertically without enforcing full height
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.5s ease-in;
    text-align: center;
  }

  .result-screen {
    gap: 10px
  }


  .best-scores {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
  }

  .welcome-message {
    padding: 5rem;
  }

  .best-scores-list {
    ol {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    li {
      @include subtitle;
    }
  }

  .loading-screen {
    animation: unset;

    video {
      max-width: 90vw;
      max-height: 70vh;
      width: auto;
      height: auto;
    }
  }

  h1 {
    @include title;
  }

  p {
    @include subtitle;
  }

  .result-number {
    @include title;
    font-size: 15rem;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


